* {
    box-sizing: border-box;
}

body {
    color: #444;
    font-family: 'Arial', sans-serif;
    line-height: 1.5em;
}

h1 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5em;
}

h2 {
    margin-bottom: .5rem;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5em;
}

p {
    margin-bottom: 1.5rem;
}

code {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: .1em .25em;
    background-color: rgba(#fff, .85);
    font-family: Courier, monospace;
}

hr {
    margin: 1.5rem 0;
    border: none;
    border-top: 1px solid #999;
}

.event-log {
    overflow-y: auto;
    list-style: disc;
    padding: 1rem;
    padding-left: 2rem;
    background-color: #ccc;
    font-family: Courier, monospace;
}