@import '../node_modules/reset-css/sass/reset';
@import './base';

body {
    padding: 1rem 2rem;
    background-color: #fff;
}

iframe.embedded-flipbook,
.flipbook-placeholder {
    display: block;
    width: 50vw;
    height: 400px;
    margin-bottom: 1rem;
    background-color: #ccc;
}

.flipbook-placeholder {
    padding: 3rem;
    background-color: rgba(steelblue, 0.5);
}

.event-log {
    max-height: 10rem;
}

.form {
    border: 1px solid #ccc;
    padding: 1rem;
}
.form__control-group {
    display: flex;
    align-items: top;
    margin-bottom: 1rem;

    &:last-child { margin-bottom: 0; }
}
.form__action {
    width: 8rem;
    margin-right: 1rem;
    padding: .5rem;
    border: 0;
    background-color: rgba(#4caf50, .25);
    cursor: pointer;
}
.form__control {
    padding: .5rem;
    width: 100%;
}
.form__control--textarea {
    height: 6rem;
}