@import '../node_modules/reset-css/sass/reset';
@import './base';

body {
    background-color: #eee;
}

.content {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    padding: 1rem;
}

.event-log {
    overflow-y: auto;
    list-style: disc;
    padding: 1rem;
    padding-left: 2rem;
    background-color: #ccc;
    font-family: Courier, monospace;
}